<div class="card p-3">
  <!-- Botón para crear nuevo estudiante -->
  <p-button 
    label="Nuevo estudiante" 
    icon="pi pi-user-plus" 
    severity="info" 
    [routerLink]="['/student/create']" />

  <!-- Tabla de estudiantes -->
  <p-table [value]="students" [tableStyle]="{'min-width': '60rem'}">
    
    <!-- Encabezado -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:10%">
          <div class="flex items-center gap-2">
            ID
            <p-sortIcon field="id" />
          </div>
        </th>
        <th pSortableColumn="firstName" style="width:20%">
          <div class="flex items-center gap-2">
            Nombre
            <p-sortIcon field="firstName" />
          </div>
        </th>
        <th pSortableColumn="lastName" style="width:20%">
          <div class="flex items-center gap-2">
            Apellido
            <p-sortIcon field="lastName" />
          </div>
        </th>
        <th pSortableColumn="email" style="width:30%">
          <div class="flex items-center gap-2">
            Email
            <p-sortIcon field="email" />
          </div>
        </th>
        <th pSortableColumn="status" style="width:20%">
          <div class="flex items-center gap-2">
            Estado
            <p-sortIcon field="status" />
          </div>
        </th>
      </tr>
    </ng-template>

    <!-- Cuerpo -->
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.status }}</td>
      </tr>
    </ng-template>

  </p-table>
</div>
