<div class="card p-4 max-w-2xl mx-auto">
  <h2 class="text-xl font-semibold mb-4">Crear Historial</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

    <!-- Préstamo -->
    <div>
      <label class="block mb-1 font-medium">Préstamo</label>
      <p-select
        [options]="loans"
        optionLabel="id"
        optionValue="id"
        formControlName="loanId"
        placeholder="Seleccione un préstamo"
        class="w-full"
      ></p-select>
    </div>

    <!-- Evento -->
    <div>
      <label class="block mb-1 font-medium">Evento</label>
      <p-select
        [options]="events"
        formControlName="event"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccione un evento"
        class="w-full"
      ></p-select>
    </div>

    <!-- Fecha -->
    <div>
      <label class="block mb-1 font-medium">Fecha</label>
      <p-datepicker
        formControlName="date"
        showIcon="true"
        class="w-full"
      ></p-datepicker>
    </div>

    <!-- Detalles -->
    <div>
      <label class="block mb-1 font-medium">Detalles</label>
      <input
        type="text"
        pInputText
        formControlName="details"
        placeholder="Detalles adicionales"
        class="w-full"
      />
    </div>

    <!-- Estado -->
     <div>
      <label class="block mb-1 font-semibold">Status</label>
      <select formControlName="status" class="w-full p-inputtext rounded border border-gray-300">
        <option value="active">Activo</option>
        <option value="inactive">Inactivo</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="flex gap-2 justify-end mt-4">
      <button
        pButton
        type="button"
        label="Cancelar"
        class="bg-gray-300 text-black hover:bg-gray-400"
        (click)="cancelar()"
      ></button>

      <button
        pButton
        type="submit"
        label="Guardar"
        class="bg-blue-600 hover:bg-blue-700"
      ></button>
    </div>

  </form>
</div>
