main {
    display: grid;
    gap: 10px;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header  header  header  header"
        "aside  section section section section"
        "footer footer  footer  footer  footer";
    row-gap: 0;
    column-gap: 0;
    grid-template-rows: 14% 80% 6%;
    height: 100vh;
}

header {
    grid-area: header;
    width: 100%;
    background: linear-gradient(90deg, #004d00, #009933);
    /* Degradado verde */
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #ffd700;
    /* Línea dorada elegante */
    display: flex;
    /* usamos flex para alinear */
    align-items: center;
    /* centrado vertical */
    padding: 0 20px;
    /* espacio interno */
    overflow: hidden;
    /* evita desbordes */
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0%;
    background: linear-gradient(145deg, #004d00, #009933);
    /* Degradado verde */
    border-right: 5px solid #ffd700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 450;
    text-transform: uppercase;
}

section {
    grid-area: section;
}

.recuadros {
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    margin: 2px 20px 2px 5px;
}

.elemento {
    width: 25%;
}

footer {
    grid-area: footer;
    height: 100%;
}